@charset "utf-8";
/* CSS Document */

html {
  font-size: 62.5%;
}

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 2rem;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.wrapper {
  position: relative;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: "header" "main" "footer";
}

header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  grid-area: header;
}

#maincontent {
  margin-top: 6.4rem;
  background-color: #f3f3f3;
  grid-area: main;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: "map" "restaurants";
}

#footer {
  background-color: #444;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  grid-area: footer;
}

#footer a {
  color: orange;
}

#footer a:hover,
#footer a:focus {
  background: #000;
  color: #49a2df;
  text-decoration: underline;
}

#footer a:focus {
  outline: 0;
  box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.8);
}

/* ====================== Navigation ====================== */

nav {
  height: 8rem;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: auto;
  line-height: 7rem;
}

nav h1 a {
  color: #ccc;
  font-size: 2rem;
  font-weight: 200;
  text-transform: uppercase;
  padding: 1.6rem 0;
}

nav h1 a:hover,
nav h1 a:focus {
  background: #000;
  color: #49a2df;
  text-decoration: underline;
}

nav h1 a:focus {
  outline: 0;
  box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.8);
}

#breadcrumb {
  list-style: none;
  padding-left: 0;
  background-color: #eee;
  font-size: 1.6rem;
  margin: 0;
  height: 5.6rem;
  line-height: 5.6rem;
  text-align: center;
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  padding: 0.8rem;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: #1c6fab;
  text-decoration: none;
  padding: 1.6rem 0.8rem;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover,
#breadcrumb li a:focus {
  background-color: #000;
  color: #fff;
  text-decoration: underline;
}

#breadcrumb li a:focus {
  outline: 0;
  box-shadow: 0 0 8px 3px orange;
}

/* ====================== Map ====================== */

#map-container {
  grid-area: map;
}

#map {
  min-height: 400px;
  width: 100%;
  background-color: #ccc;
}

#map a:hover,
#map a:focus {
  box-shadow: 0 0 8px 3px #000;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  background-color: #1c6fab;
  align-items: center;
  grid-area: filters;
  display: grid;
  grid-template-areas: "filtersheader" "neighborhoods" "cuisines";
}

.filter-options h2 {
  color: white;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  margin-top: 1rem;
  text-align: center;
  grid-area: filtersheader;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  height: 3.5rem;
  letter-spacing: 0;
  margin-bottom: 1rem;
  padding: 0 1rem;
  width: 20rem;
}

.filter-options select:hover,
.filter-options select:focus {
  outline: 1px dotted black;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.8);
}

#neighborhoods-select {
  grid-area: neighborhoods;
  justify-self: center;
}

#cuisines-select {
  grid-area: cuisines;
  justify-self: center;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-container {
  grid-area: restaurants;
}

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  text-align: center;
  grid-area: list;
  padding: 0;
  margin: 1rem 1rem 0 1rem;
  display: grid;
  grid-gap: 1.6rem;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  min-height: 38rem;
  padding: 0 3rem 2.5rem;
  text-align: left;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 24.8rem;
}

#restaurants-list li h2 {
  color: #bd5500;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 1.6rem;
}

#restaurants-list li a {
  background-color: #bd5500;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1.6rem;
  margin: 1.6rem 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li a:hover,
#restaurants-list li a:focus {
  background: #000;
  color: orange;
  text-decoration: underline;
}

#restaurants-list li a:focus {
  outline: 0;
  box-shadow: 0 0 8px 3px #409cde;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  display: grid;
}

.inside #maincontent {
  grid-template-areas: "map" "restaurant" "reviews";
  margin-top: 12.4rem;
  justify-content: center;
}

.inside #map-container {
  grid-area: map;
}

#restaurant-container {
  grid-area: restaurant;
  margin: 0 5%;
}

#reviews-container {
  grid-area: reviews;
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  margin: 0 5%;
}

#restaurant-name {
  color: #bd5500;
  font-family: Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
}

#restaurant-address {
  font-size: 1.6rem;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-container,
#reviews-container,
#map-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}

#reviews-container h2 {
  color: #bd5500;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: -1px;
  margin: 0;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

.review-header {
  background-color: #333;
  border-top-left-radius: 2rem;
  padding: 1rem 2rem;
  position: relative;
}

.review-name {
  color: #fff;
  display: inline-block;
  font-size: 2rem;
}

.review-date {
  color: #aaa;
  display: inline-block;
  position: absolute;
  right: 2rem;
  top: 1.5rem;
}

.review-body {
  padding: 2rem;
}

.review-rating {
  font-size: 1.6rem;
  background-color: #bd5500;
  color: #fff;
  padding: 0.5rem 1rem;
  display: inline-block;
}

#reviews-list li {
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin-bottom: 1.6rem;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}

/* media queries */

@media only screen and (min-width: 700px) {
  .filter-options {
    grid-template-columns: auto auto auto auto;
    grid-template-areas: "filtersheader filtersheader filtersheader filtersheader" "neighborhoods neighborhoods cuisines cuisines";
    justify-content: space-evenly;
  }
  #restaurants-list {
    grid-template-columns: auto auto;
  }
  .inside #maincontent {
    grid-template-columns: 50% 50%;
    grid-template-areas: "map restaurant" "reviews reviews";
  }
  .inside #map {
    height: 100%;
  }
  #restaurant-container,
  #map-container {
    border: 1px solid #d9d9d9;
    margin: 0;
  }
  nav h1 a {
    font-size: 3.2rem;
    letter-spacing: 0.5rem;
  }
}

@media only screen and (min-width: 1050px) {
  #restaurants-list {
    grid-template-columns: auto auto auto;
  }
}